h1
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: darkorange;
}

h2
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: darkorange;
}

body
{
    background-color: wheat;
    margin: 0;
}



li{
    display: inline;
    float: right;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    letter-spacing: 5px;
    word-spacing: 5px;
}

.topnav{
    background-color: grey;
    color: white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    word-spacing: 8px;
    text-align: right;
}


a:active{
    text-decoration: none;
    color: none;
}
a:hover{
    text-decoration: none;
    color: none;
}
a:visited{
    text-decoration: none;
    color: none;
}
a:link{
    text-decoration: none;
    color: none;
}